//- Header Section
header.layout__header.header
  button.header__toggle.hamburger.js-toggle-nav(data-target="#header-nav")
    span.hamburger__line

  .container
    .row.header__row
      .col-sm-12.col-md-3.header__logo
        .logo
          a.logo__link(href="/"): img.img-responsive(src="image/data/logo.png" alt="#")

      nav.col-sm-12.col-md-9.header__nav
        ul.nav.header-nav#header-nav
          li.header-nav__item: a.header-nav__link.is-active(href="#") Продукция
          li.header-nav__item: a.header-nav__link(href="#") Сотрудничество
          li.header-nav__item: a.header-nav__link(href="#") Оптовые цены
          li.header-nav__item: a.header-nav__link(href="#") О нас / контакты
          li.header-nav__item: a.header-nav__link(href="#") Сертфикаты
