/**
 * -------------------------------------------------------------
 * Category Page Styles
 * -------------------------------------------------------------
**/

.listing {

  &__row {

  }
  &__item {
    margin-bottom: 17px;
  }
  &__pagination {
    padding-bottom: 25px;
  }
  &__limit {
    padding-top: 25px;
    text-align: right;

    label {
      text-transform: uppercase;
      font-size: 0.714rem;
      margin-right: 25px;
    }
    select {
      border: 3px solid #c3c3c3;
      color: #90a9d1;
      min-height: 33px;
      background-color: transparent;
    }
  }
}
