/**
 * -------------------------------------------------------------
 * Product Page Styles
 * -------------------------------------------------------------
**/

.product {
  background-color: white;
  box-shadow: 0 0 2.143rem rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  padding: 20px 15px;

  &__name {
    font-size: 1.414rem;
    line-height: 1.5;
    margin-top: 0;

    & > small {
      // font-size: 1.143rem;
      display: block;
      color: $link-active;
    }
  }
  &__type {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 1.714rem;
    color: white;
    background-color: $base-background-color;
    padding: 2px 20px;
    margin-bottom: 30px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 100%;
      width: 0;
      height: 0;
      border-top: 22.5px solid transparent;
      border-bottom: 22.5px solid transparent;
      border-right: 22.5px solid $base-background-color;
    }
  }
  &__media {

  }
  &__thumbnails {
    margin-top: 19px;
    margin-left: -16px;
    margin-bottom: 40px;
    @include clearfix();
  }
  &__thumbnail {
    float: left;
    display: block;
    margin-left: 16px;
    width: 100px;
    height: 100px;
    border: 1px solid #bdcce4;

    & > img {
      object-fit: cover
    }

    &:hover, &.is-active {
      border-color: $link-active;
    }
  }
  &__price-text {
    font-size: 1.714rem;
    line-height: 1;
    color: $link-active;
    margin-bottom: 20px;
    text-align: center;

    span {
      color: $base-text-color;
    }
  }
  &__price {
    font-size: 1.857rem;
    line-height: 1;
    color: $link-active;
    margin-bottom: 20px;
    text-align: center;
  }
  &__buttons {
    display: block;
    width: 100%;
    margin-bottom: 30px;

    &-cell {
      text-align: center;
      margin-bottom: 30px;
    }

    .button {
      color: $link-active;
      min-width: 200px;
    }
  }

  &__attributes {
    &-head {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 20px;
      letter-spacing: 2px;
    }
    &-table {
      width: 100%;
      border: 1px solid $base-text-color;
      border-spacing: 0;
      color: $base-text-color;
      margin-bottom: 40px;

      tr {
        border-bottom: 1px solid $base-text-color;
      }

      td {
        padding: 5px 10px;
      }
    }
  }

  &__description {
    margin-top: 40px;
    line-height: 1.38;
    font-size: 1.143rem;
  }

  // Responsive
  @include media('>=small') {
    &__name {
      font-size: 1.714rem;
    }
    &__type {

    }
    &__buttons {
      display: table;

      &-cell {
        display: table-cell;
        width: 50%;

        &:first-child {
          text-align: left;
        }
        &:last-child {
          text-align: right;
        }
      }
    }
    &-table {
      td {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

.related {
  margin-bottom: 50px;

  &__title {
    font-size: 1.714rem;
    line-height: 1;
    margin: 15px 15px;
  }
  &__body {
    @extend .product;
    padding-top: 35px;
  }
}

.mini-thumb {
  margin-bottom: 20px;

  &__name {
    text-align: center;
    line-height: 1.2;
    margin-bottom: 15px;

    & > a {
      border-color: transparent;
      color: $base-text-color;

      &:hover {
        border-color: $base-text-color;
      }
    }
  }
  &__media {
    border: 1px solid #bdcce4;

    img {
      width: 100%;
    }
  }
}
