// Additional Fonts
@include font-face("Proxima Nova", "fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular", 400, $file-formats: woff);
@include font-face("Proxima Nova", "fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold", 700, $file-formats: woff);
@include font-face("Proxima Nova", "fonts/ProximaNova/ProximaNovaBlack/ProximaNovaBlack", 900, $file-formats: woff);

// Icons Font
@font-face {
  font-family: "centurion";
  src:url("fonts/IconFonts/centurion.eot");
  src:url("fonts/IconFonts/centurion.eot?#iefix") format("embedded-opentype"),
    url("fonts/IconFonts/centurion.woff") format("woff"),
    url("fonts/IconFonts/centurion.ttf") format("truetype"),
    url("fonts/IconFonts/centurion.svg#centurion") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

[data-icon]:before {
  font-family: "centurion" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "centurion" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

.icon-facebook:before {
  content: "\61";
}
.icon-twitter:before {
  content: "\62";
}
.icon-vk:before {
  content: "\63";
}
.icon-linkedin:before {
  content: "\64";
}
.icon-adress-icon:before {
  content: "\65";
}
.icon-arrow-left:before {
  content: "\66";
}
.icon-arrow-right:before {
  content: "\67";
}
.icon-google-plus:before {
  content: "\69";
}
.icon-angle-double-right:before {
  content: "\6a";
}
.icon-angle-double-left:before {
  content: "\6b";
}
.icon-double-arrow-right:before {
  content: "\68";
}
