/**
 * -------------------------------------------------------------
 * Footer Styles
 * -------------------------------------------------------------
**/

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;

  &__title {
    padding-top: 30px;
  }

  &__row {
    margin-left: -40px;
  }
  &__contact {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 40px;
    width: 215px;
    // flex: 1 1 auto;
  }
  &__contact-icon {
    flex: 0 0 55px;
    text-align: left;
  }
  &__contact-body {
    flex: 1 1 100%;
    text-align: left;
    font-size: 1.143rem;
    line-height: 1.5;
  }
  &__list {
    @extend %list-style-none;
    margin-left: 40px;
    margin-bottom: 30px;

    &-item {
      margin-bottom: 3px;

      &--title {
        font-size: 1.714rem;
        margin-bottom: 10px;
      }

      & > a {
        color: white;
        font-size: 1.143rem;
        border-color: transparent;

        &:hover {
          border-color: white;
        }
      }
    }
  }

  // Responsive
  @include media('>=small') {
    &__row {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;

      &--space-around {
        justify-content: space-between;
      }
    }
    &__list {

    }
  }
}

.footer-bottom {

}

.copyright {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;

  & > * {
    float: none;
    padding-top: 8px;
    padding-bottom: 15px;
  }

  &__text {
    text-align: center;
    font-size: 1.143rem;
    color: white;
  }

  // Responsive
  @include media('>=medium') {
    flex-direction: row;
  }
}
