/**
 * -------------------------------------------------------------
 * Form Styles
 * -------------------------------------------------------------
 */

/// Styling Checkbox

.b-checkbox {
	position: relative;
	margin-bottom: 10px;

	label {
		padding-left: 30px;
		line-height: 20px;
		font-size: 14px;
		color: black;
		position: relative;
		cursor: pointer;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 20px;
			font-family: 'Glyphicons Halflings';
	    font-style: normal;
	    font-weight: 400;
	    line-height: 1;
			text-align: center;
			border: 1px solid #6d6969;
			cursor: pointer;
			@include transition(.3s ease);
		}
	}
	input[type="checkbox"], input[type="radio"] {
		display: none;

		&:checked + label:before {
			background-color: $base-color;
			line-height: 17px;
			font-size: 11px;
			content: "\e013";
			color: white;
		}
	}

	&--inline {
		display: inline-block;
		padding-left: 15px;
		padding-right: 15px;
	}
}

/// Styling Forms & Rework Bootstrap Forms

.form .control-label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control {
	color: $base-color;
	height: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	line-height: 18px;
	background-color: white;
	border: 1px solid #d9d9d9;
	@include box-shadow(none);
	@include border-radius(3px);
	@include input-placeholder {
		color: #999595;
		font-size: 14px;
		line-height: 18px;
	}

	&:focus {
		border-color: $base-color;
		@include box-shadow(0 0 10px rgba(86, 44, 53, 0.2));
	}
	&--inline {
		display: inline-block;
		width: auto;
	}
}

.form-horizontal .control-label {
	@include media('>=small') {
		padding-top: 10px;
	}
}

.form--bordered {
	border-bottom: 1px solid #ebebeb;

	.control-label {
		font-weight: 700;
		margin-bottom: 10px;
		text-align: left;
	}
}

/// Styling Form Wrapper
.b-form-box {
	padding-top: 15px;
	padding-bottom: 15px;

	&__heading {
		@include adjust-font-size-to(18px);
		text-transform: uppercase;
		color: $base-color;
		margin-bottom: 15px;
		font-weight: 700;
	}
	&__content {

	}
}
