/**
 * -------------------------------------------------------------
 * Header Styles
 * -------------------------------------------------------------
**/
.header {
  // background-image: linear-gradient(135deg, #93c693 45%, #4458fa 100%, #000000 100%, #7b9ebe 100%);

  // background: url('images/home-header.jpg') no-repeat;
  // background-size: cover;
  // background-position: 0 0;
  // padding: 29px 0 14px;

  // // Variant 1 Background-image
  // background-image: url('images/home-header.png');
  // background-repeat: no-repeat;
  // background-position: 0 0;
  // background-size: cover;
  //
  // // Variant 2 Clip-path
  // // background-image: linear-gradient(135deg, #93c693 10%, #7c9fbf 100%);
  // // // -webkit-clip-path: ellipse(100% 70% at 40% 30%);
  // // // clip-path: ellipse(100% 70% at 40% 30%);
  // // -webkit-clip-path: ellipse(75% 79% at 35% 21%);
  // // clip-path: ellipse(75% 79% at 35% 21%);


  &__logo {

  }
  &__toggle {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    // box-shadow: -7px 7px 30px rgba(34, 34, 34, 0.25);
    z-index: 99;
  }

  // responsive
  @include media('>=small') {
    &__logo {
      padding-bottom: 24px;
    }
    &__toggle {
      display: none;
    }
  }
  @include media('>=medium') {
    &__row {
      display: flex;
      align-items: flex-end;

      & > * {
        float: none;
      }
    }
    &__logo {
      padding-bottom: 0;
    }
  }
}

.logo {
  text-align: center;

  &__link {
    text-decoration: none;
    border-bottom: none;
    display: inline-block;
    vertical-align: top;
  }
}

.header-nav {
  @extend %list-style-none;
  display: none;

  &__item {
    display: block;
    padding: 12px 0;
  }
  &__link {
    display: block;
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.21;
    text-transform: uppercase;
    border-bottom-width: 2px;

    &:hover, &.is-active {
      color: $link-active;
      border-color: transparent;
    }
  }

  // mods
  &.is-open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: fadeIn;
    animation-duration: .3s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    z-index: 98;
    background-image: $base-gradient;
  }

  // responsive
  @include media('>=small') {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-top: -10px;
    margin-left: -5px;
    margin-right: -5px;

    .header-nav__item {
      padding: 10px 5px 0;
    }
    .header-nav__link {
      display: block;
      padding: 11px 10px;
      font-weight: 400;
      font-size: 0.714rem;
      border: 1px solid white;
      border-radius: 1.286rem;
      text-align: center;

      &:hover, &.is-active {
        background-color: rgba($secondary-color, 0.5);
        color: white;
      }
    }
    @include media('>=medium') {
      justify-content: flex-end;
    }
    @include media('>=large') {
      margin-left: -12.5px;
      margin-right: -12.5px;

      .header-nav__item {
        padding: 10px 12.5px 0;
      }
      .header-nav__link {
        min-width: 140px;
      }
    }
  }
}
