/**
 * -------------------------------------------------------------
 * Layout Styles
 * -------------------------------------------------------------
**/
.layout {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;

  &__header {
    background-image: url('images/header.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding: 29px 0 69px;
  }
  &__column-left {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__content {
    flex: 1 1 auto;
    position: relative;
  }

  &__title {
    text-align: center;
    margin: 0 0 60px 0;
    font-size: 2rem;
  }

  &__description {
    margin-top: 50px;
    margin-bottom: 70px;
    background-color: white;

    .description {
      & > .image {
        margin-bottom: 30px;
      }
    }
  }

  // Mods
  &--home {
    background-color: transparent;

    .layout__header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 98;
      background: none;
      padding: 29px 0 14px;
    }
  }

  // Responsive
  @include media('>=small') {
    &__title {
      font-size: rem(42px);
    }
    &__container {
      & > .row {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;

        &  > * {
          float: none;
        }
      }
    }
  }
}
