/**
 * -------------------------------------------------------------
 * Mixin & Placeholder
 * -------------------------------------------------------------
**/

/// Background Horizontal
/// @param {Color} $startColor [#3C3C3C] - Start Color
/// @param {Color} $endColor [#999999] - End Color

@mixin link-color($hoverColor, $activeColor) {
	&:hover {
		color: $hoverColor;
	}
	&:active {
		color: $activeColor;
	}
}

/// Gradient Text

@mixin gradient-text($gradient, $bg : 'light') {
  @supports(mix-blend-mode: lighten) {
    display: inline-block;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;

      background: unquote($gradient);
      pointer-events: none;
      transition: all $base-transition;
    }

    @if ($bg == 'light') {
      color: #000;
      background: #fff;
      mix-blend-mode: multiply;

      &::before {
        mix-blend-mode: screen;
      }
    } @else {
      color: #fff;
      background: #000;
      mix-blend-mode: lighten;

      &::before {
        mix-blend-mode: multiply;
      }
    }
  }
}

/// Button Flat Style
/// @param {Color} $bg-color [#3C3C3C] - Background Color
/// @param {Color} $color [#999999] - Text Color
/// @param {Color} $border-color [#999999] - Border Color
@mixin button-flat($bg-color, $color, $border-color) {
	background-color: $bg-color;
	color: $color;
	border: 1px solid;
  border-color: $border-color;

	// &:hover, &:focus {
	// 	background-color: darken($bg-color, 7%);
	// 	border-color: darken($border-color, 7%);
	// }
	// &:active, &.is-active {
	// 	background-color: $bg-color;
	// 	border-color: $border-color;
	// 	color: $color;
	// }
}
