/**
 * -------------------------------------------------------------
 * Placeholder
 * -------------------------------------------------------------
**/

/// Button
%btn {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 7px 15px;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $btn-color-default;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: transparent;
  background-image: none;
  outline: none;
  border: none;
  transition: all 0.25s ease-in-out;
}

%list-style-none {
	margin: 0;
  padding: 0;
  list-style: none;
}
