/**
 * -------------------------------------------------------------
 * Project Variables & Setting
 * -------------------------------------------------------------
 */

// Breakpoints Variables (for include-media.scss)

  $breakpoints: (
    'extra-small': 320px,
    'small': 768px,
    'medium': 992px,
    'large': 1200px
  );

// ########################################################

// Compass Variables & Setting
  /*$debug-browser-support: false; // для вывода информации по браузерам в дебаге

  $browser-minimum-versions: (
    "ie": "9"
  );

  $graceful-usage-threshold: 0.25000; // минимальный процентный порог
*/

// vertical rhythm -- настриваем вертикальный ритм текста
  $base-text-color: #161616;
  $base-font-size: 14px;
  $base-line-height: 1.71;
  $base-font-weight: 400;

  $round-to-nearest-half-line: true; // Allows compass to round to  multiples
  $rhythm-unit: "px";

  $h1-font-size: 25px !default;
  $h2-font-size: 18px !default;
  $h3-font-size: 16px !default;


// End Compass #############################################################

// Bourbon
  $em-base: $base-font-size; // set default 'rem' size
// End Bourbon

// Colors
  $green: #93c794;
  $blue: #7494c5; // #7c9fbf
  $black: #3a3a3a;
  $red: #f92323;
  $shade: #87a0c7;

// font variables -- шрифты
  $font: 'Proxima Nova', "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// base work color
  $base-color: $green !default;
  $secondary-color: $blue !default;
  $accent-color: $blue !default;
  $error-color: $red !default;

// bg colors
  $base-background-color: $base-color;
  $secondary-background-color: $secondary-color;
  $shade-background-color: $shade;

// bg gradient
  $base-gradient: linear-gradient(135deg, $base-background-color 18%, $secondary-background-color 100%);

// text colors
  $base-text-color: $black;
  $shade-text-color: #888888;
  $primary-text-color: $base-color;
  $error-text-color: $error-color;

// transition
  $base-transition: 0.25s ease-in-out;

// Buttons
  $btn-font-family: $font;
  $btn-font-size: rem($base-font-size);
  $btn-font-weight: $base-font-weight;
  $btn-line-height: 1.27;

  $btn-bg-default: transparent;
  $btn-color-default: $base-text-color;
  $btn-border-default: transparent;

  $btn-bg-primary: $base-color;
  $btn-color-primary: #ffffff;
  $btn-border-primary: $base-color;

  $btn-bg-glass: rgba(#ffffff, 0.3);
  $btn-color-glass: #ffffff;
  $btn-border-glass: rgba(#ffffff, 0);

  $btn-bg-gradient: linear-gradient($base-background-color 18%, $secondary-background-color 100%);

// link
  $link-primary: $base-color !default;
  $link-hover: darken($base-color, 5%) !default;
  $link-active: $blue !default;
  $link-visited: $base-color !default;
  $link-focus: $base-color !default;

// navigation
  $nav-bg-color: $green;
