/**
 * -------------------------------------------------------------
 * Base Project Styles
 * -------------------------------------------------------------
**/

.image {
  margin-bottom: 80px;

  img {
    margin: 0 auto;
  }
}

.hamburger {
  display: block;
  padding: 30px 18px 30px 15px;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  border-radius: 0 50% 50% 0;
  box-shadow: 0 0 2.143rem rgba(0, 0, 0, 0.1);

  &__line, &__line:before, &__line:after {
    width: 30px;
    display: block;
    height: 3px;
    background-image: $base-gradient;
    background-color: $base-background-color;
    transition: all $base-transition;
  }
  &__line {
    position: relative;

    &:before {
        content: "";
        width: 30px;
        height: 3px;
        position: absolute;
        margin-top: -8px;
    }
    &:after {
        content: "";
        position: absolute;
        margin-top: 8px;
    }
  }

  // Mods
  &.is-open {
    .hamburger__line {
      background-image: none;
      background-color: transparent;

      &:before {
        margin-top: 0;
        transform: rotate(225deg);
      }
      &:after {
        margin-top: 0;
        transform: rotate(-225deg);
      }
    }
  }
}

.ul-styled {
  padding-left: 30px;
  list-style-image: url('images/icons/ul-separator.png');

  li {
    padding-left: 10px;
  }
  li + li {
    margin-top: 10px;
  }
}

// backgrouds
.bg {
  &--shade {
    background-color: $shade-background-color;
  }
  &--secondary {
    background-color: $secondary-background-color;
  }
  &--light-shade {
    background-color: #f7fdfe;
  }
  &--dots-center {
    background: url('images/dots.png') repeat-y 50% 0 #ffffff;
  }
  &--dots-left {
    background: url('images/dots-left.png') no-repeat 5% 50% #ffffff;
  }
  &--dots-right {
    background: url('images/dots-right.png') no-repeat 90% 0 #ffffff;
  }
  &--gradient {
    background-image: $base-gradient;
    background-color: $base-color;
  }
}

// Text
.text {
  color: $base-text-color;

  &--white {
    color: white;
  }

  &--right {
    text-align: right;
  }
}

// Socials
.social {
  @extend %list-style-none;
  display: flex;
  align-items: flex-start;

  &__item {
    margin-left: 3px;
    margin-right: 3px;
  }
  &__link {
    display: block;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    border: none;
    min-width: 30px;
    text-align: center;

    &:hover {
      color: $base-text-color;
    }
  }
}

// information
.information {
  padding-top: 25px;
  padding-bottom: 50px;
}

.row {
  &--tiny {
    margin-left: -7.5px;
    margin-right: -7.5px;

    & > * {
      padding-left: 7.5px;
      padding-right: 7.5px;
    }
  }
}
