/**
 * -------------------------------------------------------------
 * Typography Project Styles
 * -------------------------------------------------------------
**/

*:focus,*:active,*:hover{
  text-decoration: none;
  outline: none;
}
html, body {
  font-family: $font;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-weight: $base-font-weight;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  line-height: 1.25;
	margin: rem(30px) 0;
  font-weight: 200;
}

h1, .h1 {
  font-size: 3.429rem;
}
h2, .h2 {
  font-size: rem(42px);
  // font-size: 3rem;
}
h3, .h3 {
	font-size: rem(25px);
}
h4, h5, h6, .h4, .h5, .h6 {
	font-size: 1rem;
}
p {
  // font-size: 1rem;
	margin: rem(30px) 0;
}
strong, b {
	font-weight: 700;
}
a {
  color: $link-primary;
  text-decoration: none;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  border-bottom: 1px solid;

  &:hover {
    // color: darken($secondary-color, 5%);
    color: $link-active;
  	text-decoration: none;
    border-bottom-color: transparent;
  }
  &:active, &:focus {
  	text-decoration: none;
  	outline: none;
  }
}
ol {
  list-style-type: decimal;
}

ul {
  padding-left: 20px;
}
blockquote {
  border-left: 3px solid $link-active;
  padding-left: 15px;
  margin-left: 18px;
}

.description > a, p > a {
  color: $link-primary;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px dotted;
  font-style: italic;

  &:hover {
    border-bottom-color: transparent;
  }
}
.description > p {
  &:first-child {
    margin-top: 0;
  }
  &:last-of-type { margin-bottom: 0; }
}
