section.advantages.bg--dots-left
  .container
    .layout__title Наши Преимущества
    .row.advantages__listing
      .col-sm-3.advantages__item
        .advantage
          .advantage__media
            .advantage__icon
              img.img-responsive(src="image/data/svg/manager-icon.svg" alt="#")
          .advantage__title Поддержка<br> клиента
          .advantage__body Вы сможете звонить и узнавать что там и как или писать на почту <br>мы с радостью выслушаем ваши просьбы

      .col-sm-3.advantages__item
        .advantage
          .advantage__media
            .advantage__icon
              img.img-responsive(src="image/data/svg/compact-icon.svg" alt="#")
          .advantage__title Все товары<br> сертифициорованы
          .advantage__body ВЫ можете распечатать содержимое и инструкцию по применению товара <br>прямо через наш веб сайт

      .col-sm-3.advantages__item
        .advantage
          .advantage__media
            .advantage__icon
              img.img-responsive(src="image/data/svg/style-icon.svg" alt="#")
          .advantage__title Номер один среди фармакологии
          .advantage__body Наша компания признанана лидером вэто сегменте рынка.

      .col-sm-3.advantages__item
        .advantage
          .advantage__media
            .advantage__icon
              img.img-responsive(src="image/data/svg/cost-icon.svg" alt="#")
          .advantage__title Цена / Качество
          .advantage__body Оптимальное соотношение <br>цены / качества нашей продукции.
