section.featured.bg--gradient#featured
  .container
    .layout__title.text--white Каталог Продукции
    .carousel
      .row
        .col-sm-10.col-sm-offset-1
          .owl-carousel
            .carousel__item.featured__item
              .thumb
                .row
                  .col-sm-11.thumb__background

                .row.thumb__body
                  .col-sm-6
                    .thumb__media
                      .thumb__image
                        a: img.img-responsive(src="image/data/slider/thumb-1.png" alt="#")

                      .thumb__thumbnails
                        a: img.img-responsive(src="image/data/slider/thumb-1.png" alt="#" width="130" height="88")
                        a: img.img-responsive(src="image/data/slider/thumb-1.png" alt="#" width="130" height="88")
                        a: img.img-responsive(src="image/data/slider/thumb-1.png" alt="#" width="130" height="88")

                  .col-sm-6
                    .thumb__caption
                      .thumb__name Centurion Laboratories
                      .thumb__price <small>от</small> $15
                      .thumb__description Какая же это мощь это ппц вас попреть! будет так что аж не захотите слазить и купите еще уж поверьте качество зашибись ! Индия все хурма
                      .thumb__buttons
                        a.button.button--border-gradient.button--extra Показать больше информации
                        span.thumb__else Или
                        a.button.button--white.button--large.button--shadow Купить сейчас

            .carousel__item.featured__item
              .thumb
                .row
                  .col-sm-11.thumb__background

                .row.thumb__body
                  .col-sm-6
                    .thumb__media
                      .thumb__image
                        a: img.img-responsive(src="image/data/slider/thumb-1.png" alt="#")

                      .thumb__thumbnails
                        a: img.img-responsive(src="image/data/slider/thumb-1.png" alt="#" width="130" height="88")
                        a: img.img-responsive(src="image/data/slider/thumb-1.png" alt="#" width="130" height="88")
                        a: img.img-responsive(src="image/data/slider/thumb-1.png" alt="#" width="130" height="88")

                  .col-sm-6
                    .thumb__caption
                      .thumb__name Centurion Laboratories
                      .thumb__price <small>от</small> $15
                      .thumb__description Какая же это мощь это ппц вас попреть! будет так что аж не захотите слазить и купите еще уж поверьте качество зашибись ! Индия все хурма
                      .thumb__buttons
                        a.button.button--border-gradient.button--extra Показать больше информации
                        span.thumb__else Или
                        a.button.button--white.button--large.button--shadow Купить сейчас

      .carousel__nav
