section.information.bg--dots-right
  .container
    .layout__title Информация
    .description
      figure.image
        img.img-responsive(src="image/data/info.jpg" alt="#")

      p Таблетки (лат. Tabulettae) — твёрдая дозированная лекарственная форма, получаемая прессованием порошков и гранул, содержащих одно или более лекарственных веществ с добавлением или без вспомогательных веществ или получаемая формованием специальных масс. Среди таблеток различают: непокрытые, шипучие, покрытые оболочкой, желудочно-резистентные, с модифицированным высвобождением, для использования в полости рта[1].

      p Долгое время лекарства изготавливали и принимали преимущественно в виде порошков или капель, пока в 1880 году Уильям Апджон не научился делать лекарства в виде таблеток. Через четыре года он создал машину для таблетирования лекарств, а в 1886 году основал Upjohn Pill and Granule Company, просуществовавшую более века.

      p Таблетированная форма по сравнению с гранулами, порошками и каплями позволяет упростить дозирование, повысить точность дозирования.<br> Таблетки обычно выпускают и хранят в стеклянных или пластиковых флаконах, в конвалютах (алюминиевые, бумажные, картонные, пластиковые блистеры).

      p Среди таблеток различают:

      ul
        li собственно таблетки (прессованные)
        li таблетки тритурационные (формованные; микротаблетки)
        li непокрытые, покрытые
        li шипучиеместо высвобождения лекарственного вещества.



