section.partners.bg--light-shade#partners
  .container
    .layout__title Наши Партнеры
    .carousel.carousel--colored
      .row
        .col-sm-10.col-sm-offset-1
          .owl-carousel
            .carousel__item.partners__item
              .partner
                .partner__media: img.img-responsive(src="image/data/partner.png" alt="#")
                .partner__body
                  .partner__title Rosaline INCORPOATED
                  .partner__text Наш супер партнер
            .carousel__item.partners__item
              .partner
                .partner__media: img.img-responsive(src="image/data/partner.png" alt="#")
                .partner__body
                  .partner__title Rosaline INCORPOATED
                  .partner__text Наш супер партнер
            .carousel__item.partners__item
              .partner
                .partner__media: img.img-responsive(src="image/data/partner.png" alt="#")
                .partner__body
                  .partner__title Rosaline INCORPOATED
                  .partner__text Наш супер партнер
            .carousel__item.partners__item
              .partner
                .partner__media: img.img-responsive(src="image/data/partner.png" alt="#")
                .partner__body
                  .partner__title Rosaline INCORPOATED
                  .partner__text Наш супер партнер
            .carousel__item.partners__item
              .partner
                .partner__media: img.img-responsive(src="image/data/partner.png" alt="#")
                .partner__body
                  .partner__title Rosaline INCORPOATED
                  .partner__text Наш супер партнер
            .carousel__item.partners__item
              .partner
                .partner__media: img.img-responsive(src="image/data/partner.png" alt="#")
                .partner__body
                  .partner__title Rosaline INCORPOATED
                  .partner__text Наш супер партнер
            .carousel__item.partners__item
              .partner
                .partner__media: img.img-responsive(src="image/data/partner.png" alt="#")
                .partner__body
                  .partner__title Rosaline INCORPOATED
                  .partner__text Наш супер партнер
            .carousel__item.partners__item
              .partner
                .partner__media: img.img-responsive(src="image/data/partner.png" alt="#")
                .partner__body
                  .partner__title Rosaline INCORPOATED
                  .partner__text Наш супер партнер
            .carousel__item.partners__item
              .partner
                .partner__media: img.img-responsive(src="image/data/partner.png" alt="#")
                .partner__body
                  .partner__title Rosaline INCORPOATED
                  .partner__text Наш супер партнер
            .carousel__item.partners__item
              .partner
                .partner__media: img.img-responsive(src="image/data/partner.png" alt="#")
                .partner__body
                  .partner__title Rosaline INCORPOATED
                  .partner__text Наш супер партнер
            .carousel__item.partners__item
              .partner
                .partner__media: img.img-responsive(src="image/data/partner.png" alt="#")
                .partner__body
                  .partner__title Rosaline INCORPOATED
                  .partner__text Наш супер партнер

      .carousel__nav
