//- Slider Module
section.slider#slider
  .owl-carousel
    //- Slider Item
    .slider__item
      .container.slider__container
        .row
          .col-md-11.col-md-offset-1
            .slider__title ЦЕНФОРС 100МГ | СИЛДЕНАФИЛ ЦИТРАТ
              small CENFORCE 100 MG | SILDENAFIL CITRATE
          .col-md-6.col-lg-6.col-md-offset-1
            .slider__description Улучшает потенцию и эрекцию!<br> Действует около 5 часов, через 30 минут после применения.<br> Ускоряет восстановление сексуальной энерегии.
            .slider__tags
              a.button.button--glass(href="#") GENFORCE 50
              a.button.button--glass(href="#") GENFORCE Soft
              a.button.button--glass(href="#") GENFORCE 200
              a.button.button--glass(href="#") GENFORCE 150
              a.button.button--glass(href="#") GENFORCE Prof
              a.button.button--glass(href="#") GENFORCE D

          .col-md-5.col-lg-5
            .slider__media
              img.img-responsive(src="image/data/slider/thumb-1.png")
            .slider__links
              a.button.button--gradient.button--large.slider__button(href="#") КУПИТЬ СЕЙЧАС
              a.button.button--glass.button--large(href="#") Узнать больше

    //- Slider Item
    .slider__item
      .container.slider__container
        .row
          .col-md-11.col-md-offset-1
            .slider__title ЦЕНФОРС 200МГ | СИЛДЕНАФИЛ ЦИТРАТ
              small CENFORCE 200 MG | SILDENAFIL CITRATE
          .col-md-6.col-lg-6.col-md-offset-1
            .slider__description Улучшает потенцию и эрекцию!<br> Действует около 5 часов, через 30 минут после применения!<br> Ускоряет восстановление сексуальной энерегии.
            .slider__tags
              a.button.button--glass(href="#") GENFORCE 50
              a.button.button--glass(href="#") GENFORCE Soft
              a.button.button--glass(href="#") GENFORCE 200
              a.button.button--glass(href="#") GENFORCE 150
              a.button.button--glass(href="#") GENFORCE Prof
              a.button.button--glass(href="#") GENFORCE D

          .col-md-5.col-lg-5
            .slider__media
              img.img-responsive(src="image/data/slider/thumb-1.png")
            .slider__links
              a.button.button--gradient.button--large.slider__button(href="#") КУПИТЬ СЕЙЧАС
              a.button.button--glass.button--large(href="#") Узнать больше

  //- Slider Nav
  .container.slider__nav
