section.triggers.bg--dots-center
  .container
    .row
      .col-sm-4.triggers__item
        .trigger
          .trigger__media
            span.trigger__icon: img(src="image/data/svg/printer-icon.svg" alt="#")

          .trigger__body
            .trigger__description Распечатать информацию<br> о данном продукте

      .col-sm-4.triggers__item
        .trigger
          .trigger__media
            span.trigger__icon: img(src="image/data/svg/guarantee-icon.svg" alt="#")

          .trigger__body
            .trigger__description 100% гарантия, лечит ой ой как хорошо<br> вам будет от этого препаратика

      .col-sm-4.triggers__item
        .trigger
          .trigger__media
            span.trigger__icon: img(src="image/data/svg/card-icon.svg" alt="#")

          .trigger__body
            .trigger__description Что-то тоже полезно<br> это так для семетрии так что норма!

    p.triggers__title Выбирайте только продукцию «Centurion Laboratories» <br>будете здоровеньки и щасливенькие
