/**
 * -------------------------------------------------------------
 * Advantages Section
 * -------------------------------------------------------------
**/
.advantages {
  padding-top: 50px;
  padding-bottom: 100px;

  &__item {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  // Responsive
  @include media('>=small') {
    &__listing {
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;

      & > * {
        float: none;
      }
    }
  }
}

.advantage {
  text-align: center;

  &__media {
    position: relative;
    z-index: 2;
  }

  &__icon {
    position: relative;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 30px;
    background-color: $secondary-background-color;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      -webkit-transform: translate(10px, 4px);
      -ms-transform: translate(10px, 4px);
      transform: translate(10px, 4px);
      z-index: -10;
      background-color: #dadefe;
      box-shadow: -0.5rem 0.5rem 1.286rem 0.143rem rgba(34, 34, 34, 0.15);
    }
  }
  &__title {
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}
