/**
 * -------------------------------------------------------------
 * Categories
 * -------------------------------------------------------------
**/
.categories {
  &__title {
    text-align: center;
    font-size: 1.714rem;
    margin-bottom: 20px;
  }
  &__list {
    @extend %list-style-none;
  }
  &__item {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
  }
  &__link {
    display: block;
    font-size: 1rem;
    line-height: 1;
    padding: 16px 15px;
    color: $link-active;
    text-transform: uppercase;
    border: none;

    &:hover, &.is-active {
      background-color: #82a9b1;
      color: white;
    }
  }
}
