/**
 * -------------------------------------------------------------
 * Featured Section
 * -------------------------------------------------------------
**/
.featured {
  padding-top: 40px;
  padding-bottom: 90px;
}
