/**
 * -------------------------------------------------------------
 * Partners Section
 * -------------------------------------------------------------
**/
.partners {
  padding-top: 50px;
  padding-bottom: 50px;

  &__item {
    padding-top: 57px;
  }
}

.partner {
  background-color: white;
  border: 1px solid transparent;

  &__media {
    margin-top: -57px;
    text-align: center;

    & > img {
      margin: 0 auto;
      border-radius: 50%;
    }
  }
  &__body {
    text-align: center;
    position: relative;
    padding: 40px 15px 21px;
    z-index: 1;
    border-bottom: 4px solid transparent;

    &:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 4px;
      background-image: $base-gradient;
      background-color: $base-color;
    }
  }
  &__title {
    text-transform: uppercase;
    font-weight: 700;
  }
  &__text {
    color: $shade-text-color;
  }
}
