/**
 * -------------------------------------------------------------
 * Slider Module
 * -------------------------------------------------------------
**/
.slider {
  position: relative;
  min-height: 800px;
  padding-top: 159px;
  padding-bottom: 74px;

  // Variant 1 Background-image
  background-image: url('images/home-header.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  // // Variant 2 Clip-path
  // // background-image: linear-gradient(135deg, #93c693 10%, #7c9fbf 100%);
  // // // -webkit-clip-path: ellipse(100% 70% at 40% 30%);
  // // // clip-path: ellipse(100% 70% at 40% 30%);
  // // -webkit-clip-path: ellipse(75% 79% at 35% 21%);
  // // clip-path: ellipse(75% 79% at 35% 21%);

  &__container {
    overflow: hidden;
    color: white;
  }
  &__title {
    position: relative;
    padding-top: 36px;
    padding-bottom: 36px;
    margin-bottom: 8px; // for :after
    font-size: 2rem;
    line-height: 1.21;
    font-weight: 900;
    text-transform: uppercase;

    &:after {
      position: absolute;
      content: '';
      top: 100%;
      width: 170px;
      height: 8px;
      background-color: white;
    }

    & > small {
      display: block;
      margin-top: 12px;
      font-size: 58%;
      font-weight: 400;
    }
  }
  &__description {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 1.5;
    font-size: 1.1rem;
  }
  &__tags {
    margin-left: -10px;
    margin-top: -18px;

    .button {
      margin-left: 10px;
      margin-top: 18px;
    }
  }
  &__media {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  &__links {
    text-align: center;
    margin-top: -25px;
    margin-left: -25px;
    padding-bottom: 30px;

    .button {
      margin-top: 25px;
      margin-left: 25px;
    }
  }
  &__button {
    transition-property: color,background-color,border-color, box-shadow;
    box-shadow: -0.5rem 0.5rem 2.143rem rgba(34, 34, 34, 0.25);

    &:hover {
      box-shadow: -0.1rem 0.1rem 2.143rem rgba(34, 34, 34, 0.25);
    }
  }
  // Owl Carousel Nav
  &__nav {
    display: none;
  }
  .owl-dots {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    & > .owl-dot {
      display: block;
      width: 6px;
      height: 6px;
      background-color: rgba(255,255,255,.3);
      border-radius: 50%;
      margin-left: 7px;
      margin-right: 7px;

      &.active {
        width: 10px;
        height: 10px;
        background-color: $link-active;
      }
    }
  }

  // Responsive
  @include media('>=small') {
    padding-top: 218px;
    padding-bottom: 74px;
  }
  @include media('>=medium') {
    padding-top: 134px;
    padding-bottom: 74px;

    &__title {
      font-size: 2.629rem;
      text-shadow: 0 8px 10px rgba(0, 0, 0, 0.06);

      & > small {
        text-shadow: none;
      }
    }

    &__description {
      font-size: 1.714rem;
    }
    &__media {
      margin-top: -10%;
      padding-top: 0;
      padding-bottom: 0;
    }

    &__nav {
      display: block;
      position: relative;
      bottom: 330px;

      .owl-prev, .owl-next {
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        color: white;
        z-index: 2;
        cursor: pointer;
        transition: color $base-transition;

        &:hover {
          color: $link-active;
        }
      }

      .owl-prev {
        left: 30px;
      }
      .owl-next {
        right: 30px;
      }
    }
  }
  @include media('>=large') {
    padding-top: 158px;
    &__title {
      font-size: 3.429rem;
    }
  }
}
