/**
 * -------------------------------------------------------------
 * Triggers Section
 * -------------------------------------------------------------
**/
.triggers {
  margin-top: -30px;
  padding-top: 130px;
  padding-bottom: 100px;

  &__item {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  &__title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.714rem;
    line-height: 1.5;
  }
}

.trigger {
  &__media {
    background-image: $base-gradient;
    background-color: $base-color;
    width: 130px;
    height: 130px;
    border-radius: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(#ffffff, 0.09);
  }
  &__body {
    padding-top: 25px;
  }
  &__description {
    font-size: 1.143rem;
    line-height: 1.5;
    text-align: center;
  }
}
