/**
 * -------------------------------------------------------------
 * Breadcrumb Styles
 * -------------------------------------------------------------
**/

.breadcrumb {
  @extend %list-style-none;
  padding: 10px 0;
  margin: 0 0;
  background-color: transparent;
  border-radius: 0;

  li {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.714rem;
    text-transform: uppercase;

    &.active {
      color: $base-color;
    }
    a {
      color: $base-text-color;
      border-bottom-color: transparent;

      &:hover {
        border-bottom-color: $base-text-color;
      }
    }
    span {
      color: $base-color;
    }
  }
  li + li {
    &::before {
      display: inline-block;
      content: '>';
      padding: 0 0;
      vertical-align: middle;
      margin: 0 15px 0 12px;
      font-size: 10px;
    }
  }
}
