/**
 * -------------------------------------------------------------
 * Button Styles
 * -------------------------------------------------------------
**/
.button {
    @extend %btn;
    @include button-flat($btn-bg-default, $btn-color-default, $btn-border-default);
    padding: 10px 15px;
    min-width: 150px;
    border-radius: 1.357rem;
    text-transform: uppercase;
    letter-spacing: 2px;

    // with inserted icon
    & > .icon {
        margin-right: 20px;
        font-size: 1.5rem;
        line-height: 0;
    }

    // sizes
    &--small {
        padding: 8px 15px;
        min-width: auto;

        & > .icon {
            margin-right: 15px;
        }
    }
    &--large {
      font-size: 1rem;
      padding: 15px 20px;
      border-radius: 1.714rem;
    }
    &--extra {
      font-size: 1rem;
      padding: 20px 25px;
      border-radius: 30px;
      border-width: 3px;
    }

    // colors
    &--primary {
        @include button-flat($btn-bg-primary, $btn-color-primary, $btn-border-primary);
    }
    &--white {
        @include button-flat(#ffffff, $base-text-color, #ffffff);

        &:hover {
            background-color: white;
            border-color: white;
            color: $accent-color;
        }
    }
    &--gradient {
      @include button-flat(#ffffff, $base-text-color, #ffffff);
      @include gradient-text('linear-gradient(to right, #4458fa 0%, #9ac59a 57%, #9ac59a 100%)', 'light');

      &.button--large:before {
        border-radius: 1.714rem;
      }

      &:hover {
        background-color: white;
        border-color: white;
        color: black;
      }
    }
    &--border-gradient {
      @include button-flat(#ffffff, #90a9d1, transparent);
      @include gradient-text('linear-gradient(#9ac59a 30%, #4458fa 100%)', 'light');
      border: 3px solid;

      &:before {
        top: -3px;
        left: -3px;
        bottom: -3px;
        right: -3px;
        border-radius: 1.357rem;
      }

      &.button--extra:before {
        border-radius: 30px;
      }

      &:hover {
        background-color: white;
        border-bottom-color: inherit;
        color: black;

        &:before {
          box-shadow: -0.5rem 0.5rem 2.143rem rgba(34, 34, 34, 0.1);
        }
      }
    }
    &--glass {
      @include button-flat($btn-bg-glass, $btn-color-glass, $btn-border-glass);
    }

    &--shadow {
      box-shadow: -0.5rem 0.5rem 2.143rem rgba(34, 34, 34, 0.1);

      &:hover {
        box-shadow: -0.1rem 0.1rem 2.143rem rgba(34, 34, 34, 0.1);
      }
    }

    // icon
    &--icon {
        min-width: auto;

        & > .icon {
            margin-right: 0;
        }
    }

    &.is-hidden, &.is-disabled {
        display: none;
    }
}
