.carousel {
  position: relative;

  &__nav {
    &.disabled {
      display: none;
    }
    .owl-prev, .owl-next {
      display: block;
      width: 60px;
      height: 60px;
      border: 2px solid black;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: black;
      z-index: 2;
      cursor: pointer;
      transition: all $base-transition;
      text-align: center;
      line-height: 60px;

      @include media('>=small') {
        border-color: white;
        color: white;
      }

      &.disabled {
        display: none;
      }

      &:hover {
        color: black;
        border-color: black;
      }
    }
    .owl-prev {
      border-radius: 0 15px;
      left: 0;
    }
    .owl-next {
      border-radius: 15px 0;
      right: 0;
    }
  }

  .owl-dots {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 40px;

    & > .owl-dot {
      display: block;
      width: 6px;
      height: 6px;
      background-color: #cccccc;
      border-radius: 50%;
      margin-left: 7px;
      margin-right: 7px;

      &.active {
        width: 10px;
        height: 10px;
        background-color: $link-active;
      }
    }
  }

  // Mods
  &--colored {
    .carousel__nav {
      .owl-prev, .owl-next {
        background-color: #fff;
        box-shadow: -0.5rem 0.5rem 2.143rem rgba(34, 34, 34, 0.1);

        &:hover {
          border-color: #fff;
          box-shadow: -0.1rem 0.1rem 2.143rem rgba(34, 34, 34, 0.1);
        }
      }
      .owl-prev {
        color: $base-color;
      }
      .owl-next {
        color: $secondary-color;
      }
    }
  }
}
