/**
 * -------------------------------------------------------------
 * Modal Styles
 * -------------------------------------------------------------
 */

.modal {
	&-content {
		@include border-radius(0);
	}
	&-title {
		text-align: center;
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
	}
	&-header {
		padding: 30px 30px 15px;
		border-bottom: none;
	}
	&-body {
		padding: 15px 30px 15px;
	}
	&-footer {
		border-top: none;
		padding: 15px 30px 30px;
		text-align: center;
	}
	&-help {
		margin-top: 30px;
		color: #a9a5a5;
		text-align: center;
	}
}