.links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-left: -15px;
  padding-top: 25px;

  a, b {
    font-size: 0.714rem;
    display: block;
    padding: 5px 5px;
    color: #90a9d1;
    margin-top: 10px;
    margin-left: 13px;
    min-width: 34px;
    text-align: center;
    border: 3px solid #c3c3c3;
  }
  a:hover {
    border-color: #90a9d1;
  }

  b {
    border-color: #90a9d1;
  }

  &__prev, &__next {
    font-size: 12px !important;
    line-height: 1;
    padding-top: 8px!important;
    padding-bottom: 7px!important;
  }
}
