.product-card {
  // margin-left: -15px;
  // margin-right: -15px;

  &__media {
    background-color: white;
  }
  &__body {
    background-color: white;
    position: absolute;
    right: 85px;
    height: 100%;
  }
  &__content {
    background-color: white;
    box-shadow: 0 0 2.143rem rgba(0, 0, 0, 0.08);
  }
  &__row {
    display: flex;
    align-items: center;
    margin-left: 0;
    position: relative;

    & > * {
      float: none;
    }
  }
}
