.product-thumb {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 3px;
  box-shadow: 0 0 2.143rem rgba(0, 0, 0, 0.08);
  transition: box-shadow $base-transition;

  &:hover {
    box-shadow: none;
  }

  &__name {
    padding-left: 3px;
    padding-right: 3px;
    line-height: 1.2;
    text-align: center;

    & > span {
      display: block;
      color: #90a9d1;
    }
  }
  &__media {
    padding: 30px 15px 15px;

    & > img {
      margin: 0 auto;
    }
  }
  &__price {
    font-size: 1.286rem;
    line-height: 1;
    color: #90a9d1;
    margin-bottom: 15px;
    text-align: center;
  }
  &__buttons {
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;

    & > .button {
      min-width: auto;
      font-size: 0.714rem;
      letter-spacing: 1px;
    }

    .button + .button {
      margin-left: 13px;
    }
  }
  &__buy {
    min-width: 110px !important;
    line-height: 1.71;
    color: #90a9d1;
  }
}
