.thumb {
  position: relative;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    // width: 100%;
    height: 100%;
    background-color: white;
  }
  &__body {
    display: flex;
    flex-direction: column;
  }
  &__media {
    background-color: white;
    padding: 15px 15px;
  }
  &__caption {
    padding: 15px 15px;
    background-color: #fff;
  }
  &__image {
    text-align: center;
    padding-bottom: 15px;
  }
  &__thumbnails {
    padding-bottom: 15px;
    margin-top: -15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    & > a {
      margin-top: 15px;
      display: block;
      border: none;
      width: calc(100%/3);
      text-align: center;
      box-shadow: -0.286rem 0.286rem 1.071rem rgba(34, 34, 34, 0.15);

      & > img {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  &__name, &__price, &__description {
    margin-bottom: 15px;
  }
  &__name {
    font-size: 1.414rem;
    line-height: 1;
  }
  &__price {
    font-size: 1.857rem;
    line-height: 1;
    color: $secondary-color;

    & > small {
      font-size: 1.286rem;
    }
  }
  &__description {
    font-size: 1rem;
    color: #818181;
  }
  &__buttons {
    text-align: center;
  }
  &__else {
    display: block;
    text-align: center;
    font-size: 1.429rem;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  // Responsive
  @include media('>=small') {
    &__body {
      flex-direction: row;
      align-items: center;
    }
    &__media {
      padding: 30px 15px 30px 45px;
    }
    &__image {
      padding-top: 30px;
    }
    &__thumbnails {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    &__caption {
      padding: 35px 40px;
      box-shadow: 0 0 2.143rem rgba(0, 0, 0, 0.08);
    }
    &__name {
      font-size: 1.714rem;
    }
    &__description {
      font-size: 1.143rem;
    }

    &__name, &__price, &__description {
      margin-bottom: 30px;
    }
  }
}
