doctype html
html(lang="ru")
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    title
      block title

    //- Favicon & Apple Icons
    link(rel='shortcut icon' href='image/favicon/favicon.ico')
    link(rel='apple-touch-icon' href='image/favicon/apple-icon.png')
    link(rel='apple-touch-icon' href='image/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon' href='image/favicon/apple-icon-114x114.png')

  body
    <!--[if lt IE 10]>
    <p class="chromeframe">Похоже, что Вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/">скачай новый браузер бесплатно с официального сайта</a> или <a href="http://www.google.com/chromeframe/?redirect=true">активируй Google Chrome Frame</a></p>
    <![endif]-->

    //- данный блок необходим для кастомизации класса обертки, для любой из страниц
    -var layoutClass = '';
    block vars

    div(class=layoutClass)

      include common/header

      block content

      include common/footer

    link(href='stylesheet/stylesheet.min.css', type='text/css', rel='stylesheet')
    script(src='javascript/scripts.min.js', type='text/javascript')

    block scripts
