//-  Pagination Component
section.pagination
  .pagination__links.links
    //- a.links__prev(href="#"): i.icon.icon-angle-double-left
    a(href="#") 1
    a(href="#") 2
    a(href="#") 3
    a(href="#" rel="prev") 4
    b 5
    a(href="#" rel="next") 6
    a.links__next(herf="#"): i.icon.icon-double-arrow-right
