extends ../index

block title
  | Категория

block vars
  - var layoutClass = 'layout';

block content
  .container.layout__container
    .row
      aside.col-sm-3.hidden-xs.layout__column-left#column-left
        .categories
          .categories__title Продукция
          ul.categories__list
            li.categories__item: a.categories__link(href="#") СИЛДЕНАФИЛ (6)
            li.categories__item: a.categories__link.is-active(href="#") ТАДАЛАФИЛ (8)
            li.categories__item: a.categories__link(href="#") ВАРДЕНАФИЛ (4)
            li.categories__item: a.categories__link(href="#") ПРОЛОНГАТОРЫ, ДАПОКСЕТИН (28)
            li.categories__item: a.categories__link(href="#") ПРЕПАРАТЫ ДЛЯ ЖЕНЩИН (5)
            li.categories__item: a.categories__link(href="#") НАТУРАНЫЕ ПРЕПАРАТЫ (28)
            li.categories__item: a.categories__link(href="#") ИНТИМНЫЕ ТОВАРЫ (12)
            li.categories__item: a.categories__link(href="#") ДРУГА ПРОДУЦИЯ (517)

      main.col-sm-9.layout__content
        include ../component/breadcrumb

        .listing
          .row.listing__row
            .col-sm-4.listing__item
              .product-thumb
                  .product-thumb__name Ценфорс 50 мг | Силденафил Цитат <span>Cenforce 100 mg | Sildenafil Citrate</span>
                  .product-thumb__media: img.img-responsive(src="image/data/product-thumb.jpg" alt="#")
                  .product-thumb__price 100 грн./10 шт.
                  .product-thumb__buttons
                    a.button.button--border-gradient Информация
                    a.button.button--white.button--small.button--shadow.product-thumb__buy Купить
            .col-sm-4.listing__item
              .product-thumb
                  .product-thumb__name Ценфорс 50 мг | Силденафил Цитат <span>Cenforce 100 mg | Sildenafil Citrate</span>
                  .product-thumb__media: img.img-responsive(src="image/data/product-thumb.jpg" alt="#")
                  .product-thumb__price 100 грн./10 шт.
                  .product-thumb__buttons
                    a.button.button--border-gradient Информация
                    a.button.button--white.button--small.button--shadow.product-thumb__buy Купить
            .col-sm-4.listing__item
              .product-thumb
                  .product-thumb__name Ценфорс 50 мг | Силденафил Цитат <span>Cenforce 100 mg | Sildenafil Citrate</span>
                  .product-thumb__media: img.img-responsive(src="image/data/product-thumb.jpg" alt="#")
                  .product-thumb__price 100 грн./10 шт.
                  .product-thumb__buttons
                    a.button.button--border-gradient Информация
                    a.button.button--white.button--small.button--shadow.product-thumb__buy Купить
            .col-sm-4.listing__item
              .product-thumb
                  .product-thumb__name Ценфорс 50 мг | Силденафил Цитат <span>Cenforce 100 mg | Sildenafil Citrate</span>
                  .product-thumb__media: img.img-responsive(src="image/data/product-thumb.jpg" alt="#")
                  .product-thumb__price 100 грн./10 шт.
                  .product-thumb__buttons
                    a.button.button--border-gradient Информация
                    a.button.button--white.button--small.button--shadow.product-thumb__buy Купить
            .col-sm-4.listing__item
              .product-thumb
                  .product-thumb__name Ценфорс 50 мг | Силденафил Цитат <span>Cenforce 100 mg | Sildenafil Citrate</span>
                  .product-thumb__media: img.img-responsive(src="image/data/product-thumb.jpg" alt="#")
                  .product-thumb__price 100 грн./10 шт.
                  .product-thumb__buttons
                    a.button.button--border-gradient Информация
                    a.button.button--white.button--small.button--shadow.product-thumb__buy Купить
            .col-sm-4.listing__item
              .product-thumb
                  .product-thumb__name Ценфорс 50 мг | Силденафил Цитат <span>Cenforce 100 mg | Sildenafil Citrate</span>
                  .product-thumb__media: img.img-responsive(src="image/data/product-thumb.jpg" alt="#")
                  .product-thumb__price 100 грн./10 шт.
                  .product-thumb__buttons
                    a.button.button--border-gradient Информация
                    a.button.button--white.button--small.button--shadow.product-thumb__buy Купить
            .col-sm-4.listing__item
              .product-thumb
                  .product-thumb__name Ценфорс 50 мг | Силденафил Цитат <span>Cenforce 100 mg | Sildenafil Citrate</span>
                  .product-thumb__media: img.img-responsive(src="image/data/product-thumb.jpg" alt="#")
                  .product-thumb__price 100 грн./10 шт.
                  .product-thumb__buttons
                    a.button.button--border-gradient Информация
                    a.button.button--white.button--small.button--shadow.product-thumb__buy Купить
            .col-sm-4.listing__item
              .product-thumb
                  .product-thumb__name Ценфорс 50 мг | Силденафил Цитат <span>Cenforce 100 mg | Sildenafil Citrate</span>
                  .product-thumb__media: img.img-responsive(src="image/data/product-thumb.jpg" alt="#")
                  .product-thumb__price 100 грн./10 шт.
                  .product-thumb__buttons
                    a.button.button--border-gradient Информация
                    a.button.button--white.button--small.button--shadow.product-thumb__buy Купить
            .col-sm-4.listing__item
              .product-thumb
                  .product-thumb__name Ценфорс 50 мг | Силденафил Цитат <span>Cenforce 100 mg | Sildenafil Citrate</span>
                  .product-thumb__media: img.img-responsive(src="image/data/product-thumb.jpg" alt="#")
                  .product-thumb__price 100 грн./10 шт.
                  .product-thumb__buttons
                    a.button.button--border-gradient Информация
                    a.button.button--white.button--small.button--shadow.product-thumb__buy Купить


          .row.listing__pagination
            .col-lg-9
              include ../component/pagination

            .col-lg-3.listing__limit
              label(for="#limit") Показать по
              select.limit#limit(name="limit")
                option(value="24" selected) 24
                option(value="30") 30
                option(value="45") 45

      .col-sm-12.information.layout__description
        .description
          figure.image
            img.img-responsive(src="image/data/info.jpg" alt="#")

          p Таблетки делимые — таблетки диаметром более 9 мм, имеющие одну или две перпендикулярные друг другу риски (насечки), что позволяет разделить таблетку на две или четыре части и таким образом варьировать дозировку лекарственного средства.

          p Таблетки измельчаемые — таблетки для приготовления раствора или суспензии, требующие предварительного измельчения.

          p Покрытые и непокрытые — содержащие специальные вспомогательные вещества или полученные по особой технологии, что позволяет программировать скорость или место высвобождения лекарственного вещества.

          p Таблетки покрытые — таблетки покрытые оболочкой из одного или нескольких слоев вспомогательных веществ природного или синтетического происхождения, иногда с добавлением к веществам, образующим покрытие лекарственных или поверхностно-активных веществ. В зависимости от состава и способа нанесения различают покрытия: дражированные, пленочные, прессованные; в зависимости от среды, в которой должно раствориться покрытие: гастросолюбильные (растворимые в желудке) и энтеросолюбильные (кишечнорастворимые).

          p Таблетки кишечнорастворимые (таблетки желудочно-резистентные) — таблетки, устойчивые в желудочном соке и высвобождающие лекарственное вещество или вещества в кишечном соке. Получают путём покрытия таблеток желудочно-резистентной оболочкой (кишечно­растворимые таблетки) или прессованием гранул и частиц, предварительно покрытых желудочно-резистентной оболочкой или прессованием лекарственных веществ в смеси с желудочно-резистентным наполнителем (дурулы).

          p Таблетки с покрытием пленочным — таблетки, покрытые тонкой оболочкой (пленочной), составляющей менее 10 % от массы таблетки. Покрытия пленочные могут быть растворимыми в воде (из растворов природной целлюлозы, полиэтиленгликолей, желатина и гуммиарабика и др.) и нерастворимыми в воде, или лаками (из некоторых высокомолекулярных соединений)

          p Таблетки с модифицированным высвобождением — покрытые или непокрытые таблетки, содержащие специальные вспомогательные вещества или полученные по особой технологии, что позволяет программировать скорость или место высвобождения лекарственного вещества. Термин используется для обозначения таблеток с контролируемым высвобождением, таблеток с замедленным высвобождением, таблеток с постепенным высвобождением и др. Термин не используется для наименования таблеток, обозначаемых как таблетки депо, таблетки имплантируемые, таблетки ретард, таблетки рапид ретард.
