extends ../index

block title
  | Главная страница

block vars
  -var layoutClass = 'layout layout--home';

block content
  main.layout__content

    include ../module/slider

    include ../module/triggers

    include ../module/featured

    include ../module/advantages

    include ../module/information

    include ../module/partners
