extends ../index

block title
  | Категория

block vars
  - var layoutClass = 'layout';

block content
  .container
    .row
      aside.col-sm-3.hidden-xs.layout__column-left#column-left
        .categories
          .categories__title Продукция
          ul.categories__list
            li.categories__item: a.categories__link(href="#") СИЛДЕНАФИЛ (6)
            li.categories__item: a.categories__link.is-active(href="#") ТАДАЛАФИЛ (8)
            li.categories__item: a.categories__link(href="#") ВАРДЕНАФИЛ (4)
            li.categories__item: a.categories__link(href="#") ПРОЛОНГАТОРЫ, ДАПОКСЕТИН (28)
            li.categories__item: a.categories__link(href="#") ПРЕПАРАТЫ ДЛЯ ЖЕНЩИН (5)
            li.categories__item: a.categories__link(href="#") НАТУРАНЫЕ ПРЕПАРАТЫ (28)
            li.categories__item: a.categories__link(href="#") ИНТИМНЫЕ ТОВАРЫ (12)
            li.categories__item: a.categories__link(href="#") ДРУГА ПРОДУЦИЯ (517)

      main.col-sm-9.layout__content
        include ../component/breadcrumb

        .product
          .row
            .col-md-7
              h1.product__name Ценфорс 50 мг | Силденафил Цитат
                small Cenforce 100 mg | Sildenafil Citrate
            .col-md-5.text--right
              .product__type Дженерик Виагры

          .row
            .col-md-5
              .product__media
                a(href="#"): img.img-responsive(src="image/data/product-thumb.jpg" alt="#")

              .product__thumbnails
                a.product__thumbnail: img(src="image/data/slider/thumb-1.png" alt="#" width="100" height="100")
                a.product__thumbnail: img(src="image/data/slider/thumb-1.png" alt="#" width="100" height="100")
                a.product__thumbnail: img(src="image/data/slider/thumb-1.png" alt="#" width="100" height="100")

            .col-md-7
              .product__price-text <span>Цена:</span> за 10 таблеток
              .product__price 140 грн.
              .product__buttons
                .product__buttons-cell
                  a.button.button--white.button--large.button--shadow(href="#") Купить
                .product__buttons-cell
                  a.button.button--white.button--large.button--shadow(href="#") ИНСТРУКЦИЯ

              .product__attributes
                .product__attributes-head Характеристики
                table.product__attributes-table
                  tr
                    td Производитель
                    td Имя
                  tr
                    td Действующее вещество
                    td Имя
                  tr
                    td Дозировка
                    td 11 мг.
                  tr
                    td Срок годности
                    td 360  дней
                  tr
                    td Прием
                    td 15
                  tr
                    td Время действия
                    td 15
                  tr
                    td Суточная доза
                    td 15
                  tr
                    td Совместимость с алкоголем
                    td нет

          .description.product__description
            p Дженерик Сенфорсе  100 мг является отличным аналогом Виагры и используется для лечения проблем с эрекцией у мужчин. Дженерик виагры  Сенфорсе  100 мг производится в Индии. Активное вещество препарата -  Силденафил цитрат. Препарат дженерик виагра предназначен для мужчин, которые испытывают трудности с эрекцией.

            p: b Подробнее:

            p Препарат Сенфорсе  100 мг предназначен для мужчин, испытывающих трудности с эрекцией. 

            blockquote
              ul
                li Благодаря быстрому рассасыванию в организме, уже через 30 минут после приема таблетки, вы заметите прилив крови к пенису. 
                li Эрекция наступает только при возбуждении. 
                li После приема силденафила вы можете заниматься сексом на протяжении 4-х часов. Время для восстановления между половыми актами минимально. 
                li Препарат хорошо переносится при первичном и повторном приеме.

            p И самое главное это то, что эрекция наступит только при возбуждении. А продолжительность препарата составляет не меньше 5-6 часов. Время для восстановления сил между половыми актами, сведено к минимуму.

        .related
          .related__title С ним часто покупают
          .related__body
            .row.row--tiny
              .col-xs-6.col-sm-3
                .mini-thumb
                  .mini-thumb__name: a(href="#") Виагра | CENFORCE 50 мг | Силденафил | 10 таб купить дженерик
                  .mini-thumb__media
                    a(href="#"): img.img-responsive(src="image/data/product-thumb.jpg" alt="#")
              .col-xs-6.col-sm-3
                .mini-thumb
                  .mini-thumb__name: a(href="#") Виагра | CENFORCE 50 мг | Силденафил | 10 таб купить дженерик
                  .mini-thumb__media
                    a(href="#"): img.img-responsive(src="image/data/product-thumb.jpg" alt="#")
              .col-xs-6.col-sm-3
                .mini-thumb
                  .mini-thumb__name: a(href="#") Виагра | CENFORCE 50 мг | Силденафил | 10 таб купить дженерик
                  .mini-thumb__media
                    a(href="#"): img.img-responsive(src="image/data/product-thumb.jpg" alt="#")
              .col-xs-6.col-sm-3
                .mini-thumb
                  .mini-thumb__name: a(href="#") Виагра | CENFORCE 50 мг | Силденафил | 10 таб купить дженерик
                  .mini-thumb__media
                    a(href="#"): img.img-responsive(src="image/data/product-thumb.jpg" alt="#")
