extends ../index

block title
  | Типографика и элементы

block content
  div.container.main-container
    h1 Заголовок H1
    p
      | Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.    
    p
      | Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. В результате он нашёл неоспоримый первоисточник Lorem Ipsum в разделах 1.10.32 и 1.10.33 книги "de Finibus Bonorum et Malorum" ("О пределах добра и зла"), написанной Цицероном в 45 году н.э. Этот трактат по теории этики был очень популярен в эпоху Возрождения. Первая строка Lorem Ipsum, "Lorem ipsum dolor sit amet..", происходит от одной из строк в разделе 1.10.32

    h2 Заголовок H2
    p
      | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
    p
      | Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).

    h3 Заголовок H3
    p
      | Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.

    h4 Заголовок H4
    p
      | Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.

    h5 Заголовок H5
    p
      | Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.    

    h6 Заголовок H6
    p
      | Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.    

    article#text__blockquotes
      header
        h1 Blockquotes
      div
        blockquote
          p
            | A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text.
          p
            | It is typically distinguished visually using indentation and a different typeface or smaller size quotation. It may or may not include a citation, usually placed at the bottom.
            cite
              a(href='#!') Said no one, ever.

    article#text__lists
      header
        h1 Lists
      div
        h3 Definition list
          dl
            dt Definition List Title
            dd This is a definition list division.
        h3 Ordered List
          ol
            li List Item 1
            li List Item 2
            li List Item 3
        h3 Unordered List
          ul
            li List Item 1
            li List Item 2
            li List Item 3

    article#text__hr
      header
        h1 Horizontal rules
        div
          hr
            
    article#text__tables
      header
        h1 Tabular data
        table
          caption Table Caption
          thead
            tr
              th Table Heading 1
              th Table Heading 2
              th Table Heading 3
              th Table Heading 4
              th Table Heading 5
          tfoot
            tr
              th Table Footer 1
              th Table Footer 2
              th Table Footer 3
              th Table Footer 4
              th Table Footer 5
          tbody
            tr
              td Table Cell 1
              td Table Cell 2
              td Table Cell 3
              td Table Cell 4
              td Table Cell 5
            tr
              td Table Cell 1
              td Table Cell 2
              td Table Cell 3
              td Table Cell 4
              td Table Cell 5
            tr
              td Table Cell 1
              td Table Cell 2
              td Table Cell 3
              td Table Cell 4
              td Table Cell 5                            

    article#text__inline
      header
        h1 Inline elements
      div
        p
          a(href='#!') This is a text link
        p
          strong Strong is used to indicate strong importance.
        p
          em This text has added emphasis.
        p
          | The 
          b b element
          |  is stylistically different text from normal text, without any special importance.
        p
          | The 
          i i element
          |  is text that is offset from the normal text.
        p
          | The 
          u u element
          |  is text with an unarticulated, though explicitly rendered, non-textual annotation.
        p
          del This text is deleted
          |  and 
          ins This text is inserted
          | .
        p
          s This text has a strikethrough.
        p
          | Superscript
          sup ®
          | .
        p
          | Subscript for things like H
          sub 2
          | O.
        p
          small This small text is small for for fine print, etc.
        p
          | The time element: 
          time(datetime='2013-04-06T12:32+00:00') 2 weeks ago
                    
    section#embedded
      header
        h1 Embedded content
      article#embedded__images
        header
          h2 Images
        div
          h3
            | No 
            code figure
              
          p
            img(src='http://placekitten.com/480/480', alt='Image alt text')
          h3
            | Wrapped in a 
            code figure 
            | , no 
            code figcaption
          figure
            img(src='http://placekitten.com/420/420', alt='Image alt text')
          h3
            | Wrapped in a 
            code figure
            |  element, with a 
            code figcaption
          figure
            img(src='http://placekitten.com/420/420', alt='Image alt text')
            figcaption Here is a caption for this image.                    
                
    section#forms
      header
        h1 Form elements
      form
        fieldset#forms__input
          legend Input fields
          p
            label(for='input__text') Text Input
            input#input__text(type='text', placeholder='Text Input')
          p
            label(for='input__password') Password
            input#input__password(type='password', placeholder='Type your Password')
          p
            label(for='input__webaddress') Web Address
            input#input__webaddress(type='url', placeholder='http://yoursite.com')
          p
            label(for='input__emailaddress') Email Address
            input#input__emailaddress(type='email', placeholder='name@email.com')
          p
            label(for='input__phone') Phone Number
            input#input__phone(type='tel', placeholder='(999) 999-9999')
          p
            label(for='input__search') Search
            input#input__search(type='search', placeholder='Enter Search Term')
          p
            label(for='input__text2') Number Input
            input#input__text2(type='number', placeholder='Enter a Number')
          p
            label.error(for='input__text3') Error
            input#input__text3.is-error(type='text', placeholder='Text Input')
          p
            label.valid(for='input__text4') Valid
            input#input__text4.is-valid(type='text', placeholder='Text Input')
                    
        fieldset#forms__select
          legend Select menus
          p
            label(for='select') Select
            select#select
              optgroup(label='Option Group')
                option Option One
                option Option Two
                option Option Three
                    
        fieldset#forms__checkbox
          legend Checkboxes
          ul.list.list--bare
            li
              label(for='checkbox1')
              input#checkbox1(name='checkbox', type='checkbox', checked='checked')
              |  Choice A
            li
              label(for='checkbox2')
              input#checkbox2(name='checkbox', type='checkbox')
              |  Choice B
            li
              label(for='checkbox3')
              input#checkbox3(name='checkbox', type='checkbox')
              |  Choice C
                  
        fieldset#forms__radio
          legend Radio buttons
          ul.list.list--bare
            li
              label(for='radio1')
              input#radio1.radio(name='radio', type='radio', checked='checked')
              |  Option 1
            li
              label(for='radio2')
              input#radio2.radio(name='radio', type='radio')
              |  Option 2
            li
              label(for='radio3')
              input#radio3.radio(name='radio', type='radio')
              |  Option 3

        fieldset#forms__textareas
          legend Textareas
          p
            label(for='textarea') Textarea
            textarea#textarea(rows='8', cols='48', placeholder='Enter your message here')

        fieldset#forms__action
          legend Action buttons
          p
            input(type='submit', value='<input type=submit>')
            input(type='button', value='<input type=button>')
            input(type='reset', value='<input type=reset>')
            input(type='submit', value='<input disabled>', disabled='')
          p
            button(type='submit') button type=submit
            button(type='button') button type=button
            button(type='reset') button type=reset
            button(type='button', disabled='') button disabled
